* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
.web-app {
  height: 100vh;
  background-color: #000;
  padding-top: 20px;
  position: relative;
}

.web-app .users {
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;

  overflow: auto;
}

.web-app .users .single-user-card {
  border: 1px solid #fff;
  height: calc((100vh / 6.4));
  position: relative;
}

.caller-info {
  font-size: 14px;
  background-color: #2222227c;
  color: white;
  padding: 2px 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.icon-bar {
  min-height: 2rem;
  background-color: #222222;
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.icon-bar ul {
  display: flex;
  list-style-type: none;
  text-align: center;
  column-gap: 5px;
}

.icon-bar ul li {
  cursor: pointer;
  color: white;
  padding: 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.icon-bar svg {
  display: block;
  fill: white;
  height: 1.5em;
}

.icon-bar span {
  font-size: 10px;
  margin-top: 2px;
  color: #fff;
  text-transform: capitalize;
}

#green {
  fill: green;
}

.exit {
  display: flex;
  align-items: center;
  vertical-align: center;
  font-weight: 500;
  background-color: #4a4a4a;
  padding: 2px;
}

.exit :hover {
  cursor: pointer;
}

.exit span {
  color: red;
}
.container-li {
  position: relative;
  width: 3.1rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
svg.options-arr {
  height: 0.5em;
  position: absolute;
  bottom: 0;
  right: 0;
  margin-left: 2px;
}
